files/statistics.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="statistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="paragraphs" type="xs:integer"/>
        <xs:element name="sentences" type="xs:integer"/>
        <xs:element name="words" type="xs:integer"/>
        <xs:element name="distinctWords" type="xs:integer"/>
        <xs:element name="creationDate" type="xs:dateTime"/>
        <xs:element name="author" type="xs:string"/>
        <xs:element name="appClassName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
